<h1 change:h="">${trans:m.lexicon.frontoffice.title,ucf}</h1>
<ul class="listalpha inline-list normal-margin">
	<li tal:repeat="item navigation">
		<a tal:omit-tag="not:item/href" class="link" tal:attributes="href item/href;title item/title">${item/label}</a>
		<span class="separator" tal:condition="not:repeat/item/end"> | </span>
	</li>
</ul>
<h2 change:h="">${current}</h2>

<tal:block change:paginator="paginator" />
<dl class="normal">
	<tal:block tal:repeat="item paginator">
		<dt>${item/getLabel}</dt>
		<dd>${item/getDefinition}</dd>
	</tal:block>
</dl>
<tal:block change:paginator="paginator" />